extends layout

block content
  div#content
    h1#place
      span#city #{place}
      a.more(href="/") &#8634;
    div#map
    - var photos = urls
      each val in photos
        div.photo
          a(href=val.link)
            img(src = val.photo)
  script(src="/js/map.js")

